<li id="article">
 <div class="user-left">
   <%= form_for(article) do |f| %>
     <% if article.user.image? %>
       <%= image_tag article.user.image.url %>
     <% else %>
       <%= image_tag("/ai_07.png") %>
     <% end %>
   <% end %>
  </div>
  <span class="user"><%= link_to article.user.name, article.user %></span>
  <span class="content">
      <% unless article.article_tag.nil? %>
 ã€€ã€€ã€€<!-- é…åˆ—ã¨ã—ã¦æ ¼ç´ã•ã‚Œã¦ã„ã‚‹spot_tagã®"ã‚’å‰Šé™¤ã—ã¦è¡¨ç¤º -->
     <a><%= link_to article.content, article %>&emsp;#<%= article.article_tag.gsub(/"/, '').gsub(/[\[\]\"]/, "") %></a>
   ã€€<% end %>
   ã€€<%= image_tag article.picture.url if article.picture? %>
  
  </span>
  <span class="timestamp">

    <%= render partial: 'likes/like', locals: { article: article, likes: @likes } %>

    Posted <%= time_ago_in_words(article.created_at) %> ago.
    ã€€<%= link_to "ðŸ’¬", article_path(article.id) %>
    <% if current_user?(article.user) %>
      <%= link_to "ç·¨é›†", edit_article_path(article.id) %>
      <%= link_to "å‰Šé™¤", article, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>

  </span>
  
</li>