<div class="container">
    <div class="row">
      <div class="col-md-3">
      <br>
      <%= render 'layouts/sidebar' %>
</div>
    
<div class="col-md-5">
    <br>
    <h5>ホーム</h5>
        <%= render 'shared/feed' %>
    <br>
    <br>
        <%= paginate @feed_items %>
</div>
<div class="col-md-4">
    <br>
    <h5><i class="fa fa-hashtag"></i> タグ検索</h5>
     <%= form_tag articles_path, :method => 'get' do %>
     <%= text_field_tag :search, params[:search],:placeholder => "#..." %>
     <%= submit_tag "カテゴリーで検索", :name => nil, class: "btn btn-light" %>
    <% end %>
    <br>
    <br>
     <%= render 'users/recommend_user' %>
</div>

    
</div>
</div>