<h5><i class="fa fa-hashtag"></i> タグカテゴリー</h5>
<ul class="list-group ">
<li class="list-group-item"><%= link_to "#All", user_path %></li>
<li class="list-group-item"><%= link_to "#Auter", "/users/#{@user.id}/auter" %></li>
<li class="list-group-item"><%= link_to "#Auter-F", "/users/#{@user.id}/auter_f" %></li>
<li class="list-group-item"><%= link_to "#Jaket-m", "/users/#{@user.id}/jaket_m" %></li>
<li class="list-group-item"><%= link_to "#Jaket-s", "/users/#{@user.id}/jaket_s" %></li>
<li class="list-group-item"><%= link_to "#Hoode-J", "/users/#{@user.id}/hoode_j" %></li>
<li class="list-group-item"><%= link_to "#Hoode-F", "/users/#{@user.id}/hoode_f" %></li>
<li class="list-group-item"><%= link_to "#T-long", "/users/#{@user.id}/t_long" %></li>
<li class="list-group-item"><%= link_to "#T-short", "/users/#{@user.id}/t_short" %></li>
<li class="list-group-item"><%= link_to "#Pant", "/users/#{@user.id}/pant" %></li>
<li class="list-group-item"><%= link_to "#Shose", "/users/#{@user.id}/shose" %></li>
</ul>