<% @tag_articles.each do |tag_article| %>
<li id="article">
 <div class="user-left">
   <%= form_for(@user) do |f| %>
     <% if @user.image? %>
       <%= image_tag @user.image.url %>
     <% else %>
       <%= image_tag("/ai_07.png") %>
     <% end %>
   <% end %>
  </div>
  <span class="user"><%= link_to tag_article.user.name, tag_article.user %></span>
  <span class="content">
      <% unless tag_article.article_tag.nil? %>
 ã€€ã€€ã€€<!-- é…åˆ—ã¨ã—ã¦æ ¼ç´ã•ã‚Œã¦ã„ã‚‹spot_tagã®"ã‚’å‰Šé™¤ã—ã¦è¡¨ç¤º -->
     <a><%= link_to tag_article.content, article_path(tag_article.id) %>&emsp;#<%= tag_article.article_tag.gsub(/"/, '').gsub(/[\[\]\"]/, "") %></a>
   ã€€<% end %>
   ã€€<%= image_tag tag_article.picture.url if tag_article.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tag_article.created_at) %> ago.
      <%= link_to "ðŸ’¬", article_path(tag_article.id) %>
    <% if current_user?(tag_article.user) %>
    ã€€<%= link_to "ç·¨é›†", edit_article_path(tag_article.id) %>
      <%= link_to "å‰Šé™¤", tag_article, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  
</li>
<% end %>