<h5>☀今日の天気予報☂</h5>
<ul class="list-group">
  <li class="list-group-item">🗓&emsp;<%=  @day %></li>
  <li class="list-group-item">☀　本日の天気 : <%=  @weather %></li>
  <li class="list-group-item">☼　最高気温 : <%=  @maxtemp %>°</li>
  <li class="list-group-item">⛆　最低気温 : <%=  @mintemp %>°</li>
  <li class="list-group-item">☂　降水確率 : <%=  @rain %>%</li>
  
</ul>
